body {
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(249, 246, 246, 0.2);
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

.question-box {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f3d3d3;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #053263;
  color: white;
  font-size: 16px;
}

button:disabled {
  cursor: not-allowed;
}

.answer-text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.correct {
  color: #28a745;
}

.wrong {
  color: #740813;
}

.image-container {
  margin-top: 15px;
  text-align: center;
}

.question-image {
  max-width: 100%;
  max-height: 250px;
  border-radius: 8px;
  object-fit: contain;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}